@import "../Utils/box-shadow";
@import "../Utils/zoom";

.fonctionnement {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @media (max-width: 820px) {
        flex-direction: column;
        }
    }
    & li {
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        border: 1px solid blue;
        flex-grow: 1;
        border-radius: 1rem;
        @include boxshadow-principale;
    }
    &:hover {
        @include zoom;
    }
}
