.ville {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f3f3f3;
    color: lighten($color: #000000, $amount: 30%);
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem;
    & i {
        font-size: 1.3rem;
        color: lighten($color: #000000, $amount: 30%);
        padding-bottom: 4px;
    }
}