@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding-top: 2rem;
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.5rem;
  position: relative;
}
header img {
  width: 9rem;
  padding-top: 0.4rem;
}
header i {
  display: flex;
  font-style: normal;
  position: absolute;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  --webkit-font-smoothing: antialiased;
  font-weight: 900;
  top: 50%;
  font-size: 22px;
  transform: translateY(-50%);
  cursor: pointer;
  -webkit-background-clip: text;
  color: #000000;
  font-size: 1.4rem;
  padding-left: 0.4rem;
}

.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  color: #4d4d4d;
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
}
.ville i {
  font-size: 1.3rem;
  color: #4d4d4d;
  padding-bottom: 4px;
}

.reserver {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.reserver h2 {
  font-size: 2rem;
  padding: 1rem;
}
.reserver p {
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  margin-bottom: 1.5rem;
}
.reserver button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  transition: all 170ms;
  box-shadow: 1px 2px 12px -7px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
.reserver button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  background-color: #ffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 2s forwards;
  transform-origin: top;
}
.loader i {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  font-size: 130px;
  color: #9356dc;
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

.fonctionnement {
  counter-reset: etapes;
  margin-bottom: 2rem;
}
@media (min-width: 300px) {
  .fonctionnement {
    padding: 1rem 1rem 4rem 1rem;
  }
}
@media (min-width: 1000px) {
  .fonctionnement {
    padding: 1rem 1rem 4rem 1rem;
  }
}
@media (min-width: 1150px) {
  .fonctionnement {
    padding: 1rem 7rem 4rem 7rem;
  }
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
}
@media (max-width: 1000px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  position: relative;
  cursor: pointer;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 1px 2px 12px -7px #000000;
}
.fonctionnement li:hover {
  background-color: #f2eafb;
  transform: scale(1.02);
}
.fonctionnement li::before {
  content: counter(etapes);
  counter-increment: etapes;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.fonctionnement li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.4rem;
}

.menus {
  background-color: #f6f6f6;
}
@media (min-width: 300px) {
  .menus {
    padding: 1rem 1rem 4rem 1rem;
  }
}
@media (min-width: 1150px) {
  .menus {
    padding: 1rem 7rem 4rem 7rem;
  }
}
.menus h2 {
  padding: 2rem 0rem;
}
.menus .restaurantsflex {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .restaurantsflex {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .restaurantsflex .new {
  position: relative;
}
.menus .restaurantsflex .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 0.5rem;
  top: 0.5rem;
}
.menus .card {
  box-shadow: 0px 0px 15px -3px #000000;
  border-radius: 1rem 1rem 0 0;
}
.menus .card__img {
  border-radius: 1rem 1rem 0 0;
  height: 15rem;
  background-size: cover;
}
.menus .card__img-1 {
  background-image: url("assets/plat-1.jpg");
  background-size: cover;
}
.menus .card__img-2 {
  background-image: url("assets/plat-2.jpg");
  background-size: cover;
}
.menus .card__img-3 {
  background-image: url("assets/plat-3.jpg");
  background-size: cover;
}
.menus .card__img-4 {
  background-image: url("assets/plat-4.jpg");
  background-size: cover;
}
.menus .card__info {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.menus .card__info h3, .menus .card__info p {
  padding: 0.4rem;
}
.menus .card__info p {
  padding-bottom: 1rem;
}
.menus .card__info i {
  font-size: 2.1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__info .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 230ms ease-out;
}
.menus .card__info:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.menus .card__info:active .fas {
  transform: translateY(-50%) scale(1.1);
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 700;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bannerimg img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center bottom;
}

.titre-restau {
  position: relative;
  padding: 1rem 1rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.titre-restau i {
  font-size: 2.1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.titre-restau .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 230ms ease-out;
}
.titre-restau:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.titre-restau:active .fas {
  transform: translateY(-50%) scale(1.1);
}
.titre-restau h2 {
  padding: 0.5rem 0rem;
  font-family: "Shrikhand", sans-serif;
}

.resto-main {
  padding: 0rem 1rem;
  background-color: #f6f6f6;
}
.resto-main .plat-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  .resto-main .plat-grid {
    grid-template-columns: 1fr;
  }
}
.resto-main .plat-grid h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.resto-main .plat-grid h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3.2rem;
  background-color: #99e2d0;
  top: 1.5rem;
  left: 0rem;
}
.resto-main .plat-grid .plat-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description {
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 2px 12px -7px #000000;
  border-radius: 1rem;
  margin: 0.5rem;
}
.resto-main .plat-grid .plat-description:hover {
  cursor: pointer;
}
.resto-main .plat-grid .plat-description:hover .card-check {
  margin-right: 0;
}
.resto-main .plat-grid .plat-description:hover i {
  animation: spin-check 0.5s;
}
@keyframes spin-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.resto-main .plat-grid .plat-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .prix {
  margin-left: auto;
  padding: 1rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.resto-main .plat-grid .card-description {
  padding: 1rem;
  overflow: hidden;
}
.resto-main .card-check {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  background-color: #99e2d0;
  width: 4rem;
  transition: margin-right 0.5s;
}
.resto-main .card-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

section.buttoncommander {
  padding: 4rem 0;
  text-align: center;
  background-color: #f6f6f6;
}
section.buttoncommander button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  transition: all 170ms;
  box-shadow: 1px 2px 12px -7px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
section.buttoncommander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bannerimg img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center bottom;
}

.titre-restau {
  position: relative;
  padding: 1rem 1rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.titre-restau i {
  font-size: 2.1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.titre-restau .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 230ms ease-out;
}
.titre-restau:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.titre-restau:active .fas {
  transform: translateY(-50%) scale(1.1);
}
.titre-restau h2 {
  padding: 0.5rem 0rem;
  font-family: "Shrikhand", sans-serif;
}

.resto-main {
  padding: 0rem 1rem;
  background-color: #f6f6f6;
}
.resto-main .plat-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  .resto-main .plat-grid {
    grid-template-columns: 1fr;
  }
}
.resto-main .plat-grid h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.resto-main .plat-grid h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3.2rem;
  background-color: #99e2d0;
  top: 1.5rem;
  left: 0rem;
}
.resto-main .plat-grid .plat-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description {
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 2px 12px -7px #000000;
  border-radius: 1rem;
  margin: 0.5rem;
}
.resto-main .plat-grid .plat-description:hover {
  cursor: pointer;
}
.resto-main .plat-grid .plat-description:hover .card-check {
  margin-right: 0;
}
.resto-main .plat-grid .plat-description:hover i {
  animation: spin-check 0.5s;
}
@keyframes spin-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.resto-main .plat-grid .plat-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .prix {
  margin-left: auto;
  padding: 1rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.resto-main .plat-grid .card-description {
  padding: 1rem;
  overflow: hidden;
}
.resto-main .card-check {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  background-color: #99e2d0;
  width: 4rem;
  transition: margin-right 0.5s;
}
.resto-main .card-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

section.buttoncommander {
  padding: 4rem 0;
  text-align: center;
  background-color: #f6f6f6;
}
section.buttoncommander button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  transition: all 170ms;
  box-shadow: 1px 2px 12px -7px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
section.buttoncommander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bannerimg img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center bottom;
}

.titre-restau {
  position: relative;
  padding: 1rem 1rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.titre-restau i {
  font-size: 2.1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.titre-restau .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 230ms ease-out;
}
.titre-restau:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.titre-restau:active .fas {
  transform: translateY(-50%) scale(1.1);
}
.titre-restau h2 {
  padding: 0.5rem 0rem;
  font-family: "Shrikhand", sans-serif;
}

.resto-main {
  padding: 0rem 1rem;
  background-color: #f6f6f6;
}
.resto-main .plat-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  .resto-main .plat-grid {
    grid-template-columns: 1fr;
  }
}
.resto-main .plat-grid h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.resto-main .plat-grid h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3.2rem;
  background-color: #99e2d0;
  top: 1.5rem;
  left: 0rem;
}
.resto-main .plat-grid .plat-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description {
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 2px 12px -7px #000000;
  border-radius: 1rem;
  margin: 0.5rem;
}
.resto-main .plat-grid .plat-description:hover {
  cursor: pointer;
}
.resto-main .plat-grid .plat-description:hover .card-check {
  margin-right: 0;
}
.resto-main .plat-grid .plat-description:hover i {
  animation: spin-check 0.5s;
}
@keyframes spin-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.resto-main .plat-grid .plat-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .prix {
  margin-left: auto;
  padding: 1rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.resto-main .plat-grid .card-description {
  padding: 1rem;
  overflow: hidden;
}
.resto-main .card-check {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  background-color: #99e2d0;
  width: 4rem;
  transition: margin-right 0.5s;
}
.resto-main .card-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

section.buttoncommander {
  padding: 4rem 0;
  text-align: center;
  background-color: #f6f6f6;
}
section.buttoncommander button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  transition: all 170ms;
  box-shadow: 1px 2px 12px -7px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
section.buttoncommander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.bannerimg img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  object-position: center bottom;
}

.titre-restau {
  position: relative;
  padding: 1rem 1rem;
  margin-top: -2rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
}
.titre-restau i {
  font-size: 2.1rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.titre-restau .fas {
  color: transparent;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 230ms ease-out;
}
.titre-restau:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.titre-restau:active .fas {
  transform: translateY(-50%) scale(1.1);
}
.titre-restau h2 {
  padding: 0.5rem 0rem;
  font-family: "Shrikhand", sans-serif;
}

.resto-main {
  padding: 0rem 1rem;
  background-color: #f6f6f6;
}
.resto-main .plat-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  .resto-main .plat-grid {
    grid-template-columns: 1fr;
  }
}
.resto-main .plat-grid h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  margin-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}
.resto-main .plat-grid h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3.2rem;
  background-color: #99e2d0;
  top: 1.5rem;
  left: 0rem;
}
.resto-main .plat-grid .plat-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description {
  background-color: white;
  overflow: hidden;
  display: flex;
  box-shadow: 1px 2px 12px -7px #000000;
  border-radius: 1rem;
  margin: 0.5rem;
}
.resto-main .plat-grid .plat-description:hover {
  cursor: pointer;
}
.resto-main .plat-grid .plat-description:hover .card-check {
  margin-right: 0;
}
.resto-main .plat-grid .plat-description:hover i {
  animation: spin-check 0.5s;
}
@keyframes spin-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.resto-main .plat-grid .plat-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .plat-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.resto-main .plat-grid .prix {
  margin-left: auto;
  padding: 1rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.resto-main .plat-grid .card-description {
  padding: 1rem;
  overflow: hidden;
}
.resto-main .card-check {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  background-color: #99e2d0;
  width: 4rem;
  transition: margin-right 0.5s;
}
.resto-main .card-check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

section.buttoncommander {
  padding: 4rem 0;
  text-align: center;
  background-color: #f6f6f6;
}
section.buttoncommander button {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  transition: all 170ms;
  box-shadow: 1px 2px 12px -7px #000000;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  cursor: pointer;
}
section.buttoncommander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
